requests
idna
requests-cache
babelfish
tmdbsimple
mutagen
guessit
subliminal
python-dateutil
stevedore
qtfaststart
cleanit
plexapi
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
